header {
  background: url(../images/ToDoListImage.jpg) center / cover;
  height: 30vh;
  justify-content: center;
  text-align: center;
  overflow: auto;
}

form {
  margin: auto;
  display: block;
  width: 400px;
}

header h1 {
  color: white;
  font-weight: bold;
  justify-content: center;
  text-align: center;
}

ul {
  list-style-type: none;
  text-align: left;
  margin: auto;
  display: block;
  width: 400px;
}
