header {
  background: url(../images/ToDoListImage.jpg) center / cover;
  height: 20vh;
  justify-content: center;
  text-align: center;
}

main {
  magrin: auto;
  position: absolute;
  top: 30vh;
  left: 0;
  bottom: 0;
  right: 0;
}

h1 {
  color: rgba(0, 0, 0, 0);
  font-weight: bold;
}

ul {
  list-style-type: none;
  text-align: left;
  position: absolute;
  left: 50px;
}
